# PNPM Configuration for monorepo
node-linker=hoisted
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*@expo*
public-hoist-pattern[]=*@ungap*
public-hoist-pattern[]=*react*
public-hoist-pattern[]=*@react*
shamefully-hoist=true
